image: Visual Studio 2017

cache:
  - packages -> **\*.csproj

install:
  - ps: .\set_appveyor_version.ps1

before_build:
  - ps: dotnet restore --packages packages
  - ps: dotnet user-secrets set "commercetools:ClientId" $env:CTP_CLIENT_ID --project commercetools.NET.Tests >$null 2>&1
  - ps: dotnet user-secrets set "commercetools:ClientSecret" $env:CTP_CLIENT_SECRET --project commercetools.NET.Tests >$null 2>&1
  - ps: dotnet user-secrets set "commercetools:ProjectKey" $env:CTP_PROJECT_KEY --project commercetools.NET.Tests >$null 2>&1

build_script:
  - ps: dotnet build -c Release

after_build:
  - ps: dotnet pack -c Release -o pack/

test_script:
  - ps: dotnet test commercetools.NET.Tests --no-build -c Release --logger:Appveyor

artifacts:
  - path: commercetools.NET/**/*.nupkg
    name: NuGet Package

version: 1.0.0.{build}
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(appveyor_build_version)'
  package_version: '$(appveyor_build_version)'
  assembly_version: '$(appveyor_build_version)'
  file_version: '$(appveyor_build_version)'
  informational_version: '$(appveyor_build_version)'

max_jobs: 1
nuget:
  project_feed: true

deploy:
- provider: NuGet
  server: https://www.myget.org/F/commercetools-dotnet-sdk/api/v2/package
  api_key:
    secure: +Pfl0dfkKW+5dZY/6vRFGLhE3pOd3xMTz1v7ARA8hgrtUVwnl4BdnW1hHTg1df+d
  skip_symbols: true
  on:
    branch: master
